
.logo_constructora{
  height: 100px;
  background-color: black;
  text-align:center;
}
.usuario_c{
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.color_l{
  color:grey;
}

.salir_c{
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.boton_s{
    width: 200px;
    height: 40px;
}
.color1{
  background-color: darkgrey;
  text-align: center;
}
.color2{
  background-color: darkslateblue;
}

.color3{
  background-color:dodgerblue;
}
/*
.diseño_boton{
  width: 30%;
  height: 30px;
  background-color:orange;
  border-color:orange;
  Color:white;
  display:flex
}
*/
  
/*
.formulario{
  width: 100%;
  background-color: rgba(92, 87, 84, 0.247);
  color:black;
  text-align: left;
}
*/
  
  

.diseño_label{
  width: 50% ;
  display: inline-block;
  }

.diseño_input{
  width: 50%;
  display: inline-block;
  
  }

.boton_formulario{
  width: 200px;
  height: 40px;
  background-color: rgb(87, 74, 50);
  border-style: solid;
  border-color: rgb(87, 74, 50);
  }

.boton_formulario:hover{
  background-color: rgb(119, 100, 60);
  cursor:pointer;
}
/*
.estilo_tabla{
  width: 80%;
  border-collapse: collapse;
  border: 1px solid rgba(143, 145, 145, 0.473);
  background-color: rgba(92, 87, 84, 0.664);
 }
 
 th, td {
   border: 1px solid rgba(143, 145, 145, 0.473); 
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 14px;
 }

 /* rwdSi el tamaño maximo del dispositivo es 640px entonces... celulares*/
 @media(max-width: 640px){
  header{
    text-align: center;
  }
  #menu ul{
    flex-direction: column;
    display: block;
    align-items: center;
  }
  #menu li a{
   width: 90%;
   height: 40 px;
  }
  .formulario{
    width: 90%;
    text-align:left;
    padding: 0px 0px 0px 0px
  }
  .boton_formulario{
    width: 30%;
    height: 40 px;
  }
  .caja_grande{
    width: 95%;
    display: block;
    margin-bottom: 20px;
  }
}
/* tamaño para pantallas intermedias*/
@media(min-width: 640px) and (max-width: 1280 px){

 .formulario{
  width: 94%;
  text-align:left;
  padding: 0px 0px 0px 0px
 }

 .caja_grande{
  width: 95%;
  display: block;
  margin-bottom: 20px;
}

}