.container{
 background-color: blue;
  width:100%;
  height: 140px;
  display:inline-block
}
.container1{
  background-color: blueviolet;
  display: flex; 
}

.container1_1{
  background-color: red;
  width:50%;
  height: 140px;
  display: flex; 
}
.container1_2{ 
background-color: rgb(60, 255, 0);
width: 50%;
height: 140px;
text-align: right;
}
 
#menu ul{
  display: flex;
  list-style: none;
  justify-content: center;
}

#menu li a{
  display: flex;
  width: 200px;
  height: 40px;
  background-color: rgb(87, 74, 50);
  color: white;
  margin: 0px 20px 30px 0;
  text-decoration: none;
  /*padding-top: 14px;*/
  text-align: right;
  }
#menu a:hover{
    background-color: rgb(119, 100, 60);
    cursor:pointer;
  }
.container2{
width:100%;
display: flex;
}

.container2_1{
width: 30%;
height: 100px;
}

.container2_2{
  
width: 70%;
height: 100px;
}
.diseño_boton{
  width: 30%;
  height: 30px;
  background-color:orange;
  border-color:orange;
  Color:white;
  display:flex
}

  

.formulario{
  width: 60%;
  background-color: rgba(92, 87, 84, 0.815);
  text-align: left;
  padding: 20px 0px 20px 50px;
  color:white ;
  }

.diseño_label{
  width: 50% ;
  display: inline-block;
  }

.diseño_input{
  display: inline-block;
  width: 50%;
  }
.boton_formulario{
  width: 200px;
  height: 40px;
  background-color: rgb(87, 74, 50);
  color:white ;
  border-style: solid;
  border-color: rgb(87, 74, 50);
  }

.boton_formulario:hover{
  background-color: rgb(119, 100, 60);
  cursor:pointer;
}

h2{
  background-color: rgba(119, 100, 60, 0.678);
  color:white ;
}
.estilo_tabla{
  width: 80%;
  border-collapse: collapse;
  border: 1px solid rgba(143, 145, 145, 0.473);
  background-color: rgba(92, 87, 84, 0.664);
 }
 
 th, td {
   border: 1px solid rgba(143, 145, 145, 0.473); 
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 14px;
 }

 /* rwdSi el tamaño maximo del dispositivo es 640px entonces... celulares*/
 @media(max-width: 640px){
  header{
    text-align: center;
  }
  #menu ul{
    flex-direction: column;
    display: block;
    align-items: center;
  }
  #menu li a{
   width: 90%;
   height: 40 px;
  }
  .formulario{
    width: 90%;
    text-align:left;
    padding: 0px 0px 0px 0px
  }
  .boton_formulario{
    width: 30%;
    height: 40 px;
  }
  .caja_grande{
    width: 95%;
    display: block;
    margin-bottom: 20px;
  }
}
/* tamaño para pantallas intermedias*/
@media(min-width: 640px) and (max-width: 1280 px){

 .formulario{
  width: 94%;
  text-align:left;
  padding: 0px 0px 0px 0px
 }

 .caja_grande{
  width: 95%;
  display: block;
  margin-bottom: 20px;
}

}
